@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,100&display=swap%27");

body {
    min-height: 3000px;
}
.jumbotron {
    padding-top: 5rem;
    background-color: #e2edff;
}

/* CSS untuk footer yang berada di bawah dan di tengah */
.centered-footer {
    font-family: "" Poppins ", sans-serif;";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #f0f0f0; /* Warna latar belakang footer */
    padding: 10px; /* Padding untuk ruang ekstra di dalam footer */
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}
